@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100;300;600&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Catamaran', sans-serif;
}

body{
    background-image: url(/fondo.jpg);
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* navbar styling  */

.navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 13vh;
    align-items: center;
    background-color: #fff;
}

.navbar .logo img{
    height: 250px;
}

.navbar .links{
   width: 50%;
   display: flex;
   justify-content: space-around;
}

.navbar .links a{
    text-decoration: none;
    font-size: 25px;
    color: #EC008C ;
    cursor: pointer;
    font-weight: bold;
}

.navbar .links a:hover{
    text-decoration: underline;
    color: #00aeef ;
    transition: 0.3s all ease;
}

/* sobre mi styling */


.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    width: 100%;
    height: 90vh;
}

.container .info-container{
    margin: auto;
    width: 37%;
    padding: 60px;
    font-size: 27px;
    background-color:white;
    color: #EC008C;
}

.container .info-container .titulo{
    text-transform: uppercase;
    letter-spacing: 5px;
}

.container .info-container .texto{
    letter-spacing: 2px;
    margin: 25px 0;
    color: #00aeef;
}

.container .info-container .btn{
    display: block;
    width: 200px;
    border: 3px solid #EC008C;
    text-align: center;
    
}

.container .info-container .btn a{
    text-decoration: none;
    color:#EC008C;

}

.container .info-container .btn:hover{
    background-color:#EC008C;
    transition: 0.3s all ease;  
}

.container .info-container .btn a:hover{
    color: #fff;   
}

.container .img {
    width: 50%;
    height: 90vh;
    background-image: url(/profile.jpg);
    background-position:cover;
    background-size: cover;
    border-radius: 50%;
    
}

/* mas informacion styling */

.informacion {
    display: block;
    text-align: center;
    align-items: center;
    width: 100%;
    height: 85vh;
    margin-top: 100px;
}

.informacion .titulo2{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 60px;
    font-size: 40px;
    color: white; 

  }  

  .typing {
    width: 24ch;
    animation: typing 2s steps(22), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
  }
  
  @keyframes typing {
    from {
      width: 0
    }
  }
      
  @keyframes blink {
    50% {
      border-color: transparent
    }
  }

.informacion .container-two{
    display: inline-block;
    background-color: white;
    width: 70%;
    padding: 80px;
    box-shadow: 10px 10px 5px 0px rgba(66,65,65,0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(66,65,65,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(66,65,65,0.75);
}

.informacion .container-two p{
    font-size: 30px;
    text-align: center;
    color:#EC008C;
}

.informacion .link{
    margin: 70px auto;
    width: 12%;
    height: 50px;
    background: #EC008C;
    border: 3px solid white;
    color: #fff;
    box-shadow: 0 0 2px #fff, 
              0 0 10px #fff, 
              0 0 20px #010405, 
              0 0 30px #EC008C,
              0 0 40px #EC008C, 
              0 0 50px #EC008C;
    -webkit-animation: blink 0.7s infinite alternate;
    animation: blink 0.8s infinite alternate;
}

.informacion .link a{
    color: white;
    font-size: 1.9rem;
    text-decoration: none;
    
}


/* services styling */

/* services section styling  */

.services{
    width: 100%;
    height: 100vh;
    text-align: center;
    margin-top: 170px;
}

.services .container-services h2{
    font-size: 40px;
    color: white;
    margin-top: 0px;
}

.services .container-services .serv-content{
    display: flex;
    justify-content: space-around;
    margin-top: 90px;
    
}

.services .serv-content .card{
    width: 25%;
    background: white;
    text-align: center;
    border-radius: 6px;
    padding: 20px 20px;
    cursor: pointer;
    font-size: 30px;
}

.services .serv-content .card:hover{
    background: white;
}

.services .serv-content .card .box{
    transition: all 0.3s ease;
}

.services .serv-content .card:hover .box{
    transform: scale(1.05);
}

.services .serv-content .card i{
    font-size: 50px;
    color:#EC008C;
    transition: 0.3s ease all;
}


.services .serv-content .card .text{
    font-size: 35px;
    font-weight: bold;
    margin: 10px 0 7px 0;
    color: #EC008C;
}

.services .serv-content .card .box p{
    color: #00aeef;
}

/* projects styling */

.projects{
    width: 100%;
    height: 100vh;
    text-align: center;
}

.projects .container3 {
    width: 100%;
    height: 100vh;
}

.projects .container3 .title-projects {
    margin: 10px 0 30px 0;
    font-size: 25px;
    height: 80px;
    color: white;
}

.projects .container3 .pro-content{
    display: flex;
    margin-bottom: 20px;

}

.projects .container3 .pro-content .box{
    margin-bottom: 5px;
    position: relative;

}

.projects .container3 .pro-content .box img{
    width: 70%;
    height: 280px;
}

.projects .container3 .pro-content .box .img{
    justify-content: center;
    width: 70%;
}

.projects .container3 .pro-content .box .image-overlay{
    position: absolute;
    top: 0;
    left: 114px;
    width: 70%;
    height: 97%;
    background: rgba(0,0,0,0.6) ;
    color: #fff;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    opacity: 0;
}

.projects .container3 .pro-content .box .image-overlay .bold-title{
    font-weight: bold;
    font-size: 30px;
    color: #EC008C;
}

.projects .container3 .pro-content .box .image-overlay .image-title{
    font-size: 20px;
}

.projects .container3 .pro-content .box .image-overlay a{
    color: #00aeef;
    text-decoration: none;
    
}
.projects .container3 .pro-content .box .image-overlay:hover{
    opacity: 1;
}

.projects .container3 .pro-content .box .image-overlay a:hover{
    
    text-decoration: underline;
    text-transform: uppercase;
}


/* contact section styling */

.contact .contact-content{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    color: #fff;
    
   
}
.contact .contact-container h2{
    font-size: 40px;
    text-align: center;
    color: #fff;
    margin-top: 50px;
}
.contact .contact-content .column{
    font-size: 35px;
    font-weight: bold;
    width: calc(40% - 50px);
    height: 400px;
}

.contact .contact-content .left p{
   text-align: justify;
   font-weight: bold;
   font-size: 35px;
   color: #fff;
}

.contact .contact-content  .left .icons{
   margin: 10PX 0;
}

.contact .contact-content .row{
   display: flex;
   height: 65px;
   align-items: center;
   margin-bottom: 20px;
}

.contact .contact-content .row .info{
   margin-left: 30px;
   font-size: 20px;
}

.contact .contact-content .row i{
   font-size: 25px;
   color: #EC008C;

}

.contact .contact-content .info .head{
   font-weight: bold;
   font-size: 25px;
}

.contact .contact-content .info .sub-title{
   color: #EC008C;
}

.contact .right form .fields{
   display: flex;
}

.contact .right form .field,
.contact .right form .fields .field{
   height:45px;
   width:100%;
   margin-bottom: 20px;
}

.contact .right form .textarea{
   height: 80px;
   width: 100%;
   margin-top: 30px;
}

.contact .right form .name{
   margin-right: 10px;
}
.contact .right form .email{
   margin-left: 40px;
}

.contact .right form .field input,
.contact .right form .textarea textarea{
   height: 100%;
   width: 100%;
   border: 1px solid lightgrey;
   border-radius: 6px;
   outline: none;
   padding: 0 15px;
   font-size: 17px;
   font-family: 'Poppins', sans-serif;
}

.contact .right form .textarea textarea{
   padding-top: 10px;
   resize: none;
}

.contact .right form .button{
   height: 47px;
   width: 170px;
}

.contact .right form .button button{
   width: 100%;
   height: 100%;
   border: 2px solid #EC008C;
   background: #EC008C;
   color: #fff;
   font-size: 20px;
   font-weight: 500;
   border-radius: 6px;
   cursor: pointer;
   transition: all 0.3s ease;
}

.contact .right form .button button:hover{
   color: #EC008C;
   background: none;

}

/* footer section styling */
footer{
    text-align: center;
   background: white;
   padding: 20px 23px;
   color: #EC008C;
}

footer span a{
   color: #00aeef;
   text-decoration: none;
}

footer span a:hover{
   text-decoration: underline;
}




/* responsive styling  */

@media (max-width: 450px){
    .navbar {
        display: block;
        justify-content: center;
        width: 100%;
        height: 40vh;
    }

    .navbar .logo {
        text-align: center;
        height: 20vh;
    }

    .navbar .logo img{
        height: 200px;
    }

    
    .navbar .links{
       display: block;
       justify-content: center;
       text-align: center;
       margin: 0 auto;
       width: 100%;
    }

    .navbar .links a{
       display: block;
       justify-content: center;
       font-size: 22px;
    }

    .navbar .links a:hover{
        text-decoration: none;
        background-color: #EC008C ;
        color: #fff;
        cursor: pointer;
    }

    
.container{
    display: block;
    width: 100%;
    height: 152vh;
}


.container .info-container{
    width: 100%;
    height: 55vh;
    font-size: 27px;
    text-align: center;
    padding: 0;
    margin: auto;
    padding-top: 50px;
}

.container .info-container .typing{
    animation: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

.container .info-container .btn{
    display: inline-block;
    border: 3px solid #EC008C;
    margin-top: 25px;
}

.container .info-container .btn:hover{
    color: white;
    background: #EC008C;
    transition: 0.3s ease all;
}

.container .img {
    width: 100%;
    border-radius: 0;
    background-image: url(/profile.jpg);
    background-position:top;
    background-size: cover;

}

.informacion {
    margin-top: 0px;
    height: 100vh;
}

.informacion .titulo2{
    display: none;
}  

  .informacion .container-two p{
    font-size: 20px;
    text-align: justify
}

.informacion .container-two{
    display: inline-block;
    background-color: white;
    width: 75%;
    padding: 20px;
    margin-top: 40px;

}

.informacion .link{
    margin: 50px auto;
    width: 40%;
    height: 40px;
    border: 2px solid white;
    color: #fff;
    box-shadow: none;
    -webkit-animation: none;
    animation: none;
}

.informacion .link a{
    font-size: 1.4rem; 
}

.services{
    margin: 0;

}
.services .container-services .serv-content{
    display: block;
}

.services .serv-content .card{
    width: 80%;
    font-size: 20px;
    margin: 20px auto;
}

.projects{
    margin-top: 300px;
}

.projects .container3 .title-projects {
   
    font-size: 20px;
}

.projects .container3 .pro-content{
    display: block;
    margin-bottom: 20px;
}

.projects .container3 .pro-content .box .img {
    width: 97%;
}

.projects .container3 .pro-content .box .image-overlay {
    left: 4px;
    width: 100%;

}

.contact .contact-content{
    margin-top: 500px;
    display: block;
    height: 100vh;
}

.contact .contact-content .column {
    width: 95%;
    height: 340px;
    margin-left: 0px;
}

.contact .contact-content .left {
    align-items: center;
}
.contact .contact-content .left p {
    text-align: center;
}

.contact .contact-content .left .icons {
    margin: 10px 50px;
}

.contact .contact-content .right {
    margin-left: 7px;
    width: 90%;
}

.contact .contact-content .right .text{
    text-align: center;
}

.contact .right form .button {
    height: 47px;
    width: 90%;
    margin-left: 40px;

}