@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100;300;600&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Catamaran', sans-serif;
}

/* navbar styling  */

.navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 150px;
    align-items: center;
}

.navbar .logo img{
    height: 250px;
}

.navbar .links{
   width: 50%;
   display: flex;
   justify-content: space-around;
}

.navbar .links a{
    text-decoration: none;
    font-size: 25px;
    color: #EC008C ;
    cursor: pointer;
}

.navbar .links a:hover{
    text-decoration: underline;
    color: #00aeef ;
}

/* sobre mi styling */


.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    width: 100%;
    height: 600px;
    background-color: #EC008C;
    

}

.container .info-container{
    width: 50%;
    padding: 60px;
    font-size: 30px;
    color: white;
}

.container .info-container .titulo{
    text-transform: uppercase;
    letter-spacing: 5px;
}

.container .info-container .texto{
    letter-spacing: 2px;
    margin: 25px 0;
}

.container .info-container .btn{
    display: block;
    width: 200px;
    border: 3px solid white;
    text-align: center;
    margin-top: 25px;
}

.container .info-container .btn a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;

}

.container .info-container .btn:hover{
    background-color: white; 
    transition: 0.3s all ease;  
}

.container .info-container .btn a:hover{
    color: #EC008C;   
}

.container .img {
    width: 50%;
    height: 600px;
    background-image: url(/profile.jpg);
    background-position:inherit;
    background-size: auto;
}




/* responsive styling  */

@media (max-width: 450px){
    .navbar {
        display: block;
        justify-content: center;
        width: 100%;
        height: 300px;
    }

    .navbar .logo {
        text-align: center;
        height: 130px;
    }

    .navbar .logo img{
        height: 160px;
    }

    
    .navbar .links{
       display: block;
       justify-content: center;
       text-align: center;
       margin: 0 auto;
       width: 100%;
    }

    .navbar .links a{
       display: block;
       justify-content: center;
       font-size: 22px;
    }

    .navbar .links a:hover{
        text-decoration: none;
        background-color: #EC008C ;
        color: #fff;
        cursor: pointer;
    }

    
.container{
    display: block;
    width: 100%;
    height: 600px;
    background-color: #EC008C;
}


.container .info-container{
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 0;
    margin: auto;
    padding: 20px 0;

}

.container .info-container .btn{
    display: block;
    border: 3px solid white;
    margin-top: 25px;
    width: 100%
}

.container .img {
    width: 100%;
    height: 400px;
    background-image: url(/profile.jpg);
    background-position:top;
    background-size: cover;

}

}

