@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100;300;600&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Catamaran', sans-serif;
}

body{
    background-image: url(/fondo.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* navbar styling  */

.navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 13vh;
    align-items: center;
    background-color: #fff;
}

.navbar .logo img{
    height: 300px;
}

.navbar .links{
   width: 50%;
   display: flex;
   justify-content: space-around;
}

.navbar .links a{
    text-decoration: none;
    font-size: 25px;
    color: #EC008C ;
    cursor: pointer;
    font-weight: bold;
}

.navbar .links a:hover{
    text-decoration: underline;
    color: #00aeef ;
    transition: 0.3s all ease;
}

/* sobre mi styling */


.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    width: 100%;
    height: 90vh;
}

.container .info-container{
    margin: auto;
    width: 37%;
    padding: 60px;
    font-size: 27px;
    background-color:white;
    color: #EC008C;
}

.container .info-container .titulo{
    text-transform: uppercase;
    letter-spacing: 5px;
}

.container .info-container .texto{
    letter-spacing: 2px;
    margin: 25px 0;
    color: #00aeef;
}

.container .info-container .btn{
    display: block;
    width: 200px;
    border: 3px solid #EC008C;
    text-align: center;
    
}

.container .info-container .btn a{
    text-decoration: none;
    color:#EC008C;

}

.container .info-container .btn:hover{
    background-color:#EC008C;
    transition: 0.3s all ease;  
}

.container .info-container .btn a:hover{
    color: #fff;   
}

.container .img {
    width: 50%;
    height: 90vh;
    background-image: url(/profile.jpg);
    background-position:cover;
    background-size: cover;
    border-radius: 50%;
    
}

/* mas informacion styling */

.informacion {
    display: block;
    text-align: center;
    align-items: center;
    width: 100%;
    height: 85vh;
    margin-top: 100px;
}

.informacion .titulo2{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 60px;
    font-size: 40px;
    color: white; 

  }  

  .typing {
    width: 24ch;
    animation: typing 2s steps(22), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
  }
  
  @keyframes typing {
    from {
      width: 0
    }
  }
      
  @keyframes blink {
    50% {
      border-color: transparent
    }
  }

.informacion .container-two{
    display: inline-block;
    background-color: white;
    width: 70%;
    padding: 80px;
    box-shadow: 10px 10px 5px 0px rgba(66,65,65,0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(66,65,65,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(66,65,65,0.75);
}

.informacion .container-two p{
    font-size: 30px;
    text-align: center;
    color:#EC008C;
}

.informacion .link{
    margin: 70px auto;
    width: 12%;
    height: 50px;
    background: #EC008C;
    border: 3px solid white;
    color: #fff;
    box-shadow: 0 0 2px #fff, 
              0 0 10px #fff, 
              0 0 20px #010405, 
              0 0 30px #EC008C,
              0 0 40px #EC008C, 
              0 0 50px #EC008C;
    -webkit-animation: blink 0.7s infinite alternate;
    animation: blink 0.8s infinite alternate;
}

.informacion .link a{
    color: white;
    font-size: 1.9rem;
    text-decoration: none;
    
}


/* services styling */

/* services section styling  */

.services{
    width: 100%;
    height: 85vh;
    text-align: center;
}

.services .container-services h2{
    font-size: 40px;
    color: white;
    margin-top: 50px;
}

.services .container-services .serv-content{
    display: flex;
    justify-content: space-around;
    margin-top: 140px;
}

.services .serv-content .card{
    width: 25%;
    background: white;
    text-align: center;
    border-radius: 6px;
    padding: 20px 20px;
    cursor: pointer;
    font-size: 30px;
}

.services .serv-content .card:hover{
    background: white;
}

.services .serv-content .card .box{
    transition: all 0.3s ease;
}

.services .serv-content .card:hover .box{
    transform: scale(1.05);
}

.services .serv-content .card i{
    font-size: 50px;
    color:#EC008C;
    transition: 0.3s ease all;
}


.services .serv-content .card .text{
    font-size: 35px;
    font-weight: bold;
    margin: 10px 0 7px 0;
    color: #EC008C;
}

.services .serv-content .card .box p{
    color: #00aeef;
}


/* responsive styling  */

@media (max-width: 450px){
    .navbar {
        display: block;
        justify-content: center;
        width: 100%;
        height: 40vh;
    }

    .navbar .logo {
        text-align: center;
        height: 20vh;
    }

    .navbar .logo img{
        height: 160px;
    }

    
    .navbar .links{
       display: block;
       justify-content: center;
       text-align: center;
       margin: 0 auto;
       width: 100%;
    }

    .navbar .links a{
       display: block;
       justify-content: center;
       font-size: 22px;
    }

    .navbar .links a:hover{
        text-decoration: none;
        background-color: #EC008C ;
        color: #fff;
        cursor: pointer;
    }

    
.container{
    display: block;
    width: 100%;
    height: 152vh;
}


.container .info-container{
    width: 100%;
    height: 55vh;
    font-size: 27px;
    text-align: center;
    padding: 0;
    margin: auto;
    padding-top: 50px;
}

.container .info-container .typing{
    animation: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

.container .info-container .btn{
    display: inline-block;
    border: 3px solid #EC008C;
    margin-top: 25px;
}

.container .info-container .btn:hover{
    color: white;
    background: #EC008C;
    transition: 0.3s ease all;
}

.container .img {
    width: 100%;
    border-radius: 0;
    background-image: url(/profile.jpg);
    background-position:top;
    background-size: cover;

}

.informacion {
    margin-top: 0px;
    height: 100vh;
}

.informacion .titulo2{
    display: none;
}  

  .informacion .container-two p{
    font-size: 20px;
    text-align: justify
}

.informacion .container-two{
    display: inline-block;
    background-color: white;
    width: 75%;
    padding: 20px;
    margin-top: 40px;

}

.informacion .link{
    margin: 50px auto;
    width: 40%;
    height: 40px;
    border: 2px solid white;
    color: #fff;
    box-shadow: none;
    -webkit-animation: none;
    animation: none;
}

.informacion .link a{
    font-size: 1.4rem; 
}

}